@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    font-family: "Bebas", sans-serif;
    color: rgb(255, 255, 255);
    background: rgb(18, 122, 179);

    // box-sizing: border-box;
    // padding: 0;
    // margin: 0;
}

/* HEADER ************************************************* */
header {
    // border: 2px solid #aaa;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // background-color: rgba(250, 250, 250, 0.262);
    
  }

  .header-title:hover{
    color: orange;
  }

  a {
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
  
  .navList {
    display: flex;
    list-style: none; 
  }
  
  .navLink {
    display: block;
    padding: 20px;
  }
  
  .navLink:hover {
    color: orange;
  }

 

  /* PROJECTS ************************************************* */ 
  @mixin stripes($direction, $width-percent, $stripe-color, $stripe-background: #FFF) {
    background: repeating-linear-gradient(
      $direction,
      $stripe-background,
      $stripe-background ($width-percent - 1),
      $stripe-color 1%,
      $stripe-background $width-percent
    );
  }
  
  @mixin transform($transformation) {
    transform: $transformation;
    -webkit-transform: $transformation;
    -moz-transform: $transformation;
    -ms-transform: $transformation;
    -o-transform: $transformation;  
  }
  @mixin photo-content($file) {
    content: url(#{$file}.png); 
    object-fit: cover;
  }
  
  @mixin hover-color($color) {
     &:hover{
      box-shadow: 5px 5px 5px 5px $color;
     }
  }
  
  //Add your own mixins here
  @mixin transform-style($style){
     transform-style: $style;
    -moz-transform-style: $style;
    -o-transform-style: $style;
    -ms-transform-style: $style;
    -webkit-transform-style: $style;
  }
  
  @mixin transition($time){
    transition: $time;
    -webkit-transition: $time;
    -moz-transition: $time;
    -o-transition: $time;
  }  
  
  @mixin backface-visibility($visibility:hidden) {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
  }
  
  $stripe-properties: to bottom, 15%, blue, white;
  
  h2{
    text-align: center;
  }

  #project-cards {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    // flex-wrap: wrap;
  }


  .project-card {
    &:hover{
    @include transform (rotatey(180deg));  
  }
    width: 50%;
    height: 400px;
    border: 1px solid rgb(255, 255, 255);
    display: inline-block;
    margin: 20px;
    font-family: Roboto, sans-serif;
    box-shadow: 1px 1px 2px 2px rgba(0,0,0,.2);
    @include transform-style(preserve-3d);
    @include transition(1s);
    @include hover-color(rgb(255, 51, 0));
    
    .front, .back {
      width: 100%;
      height: 100%;
      position: absolute;
      @include backface-visibility;
    }
    
    .front {
    z-index: 3;
    font-size: 20px;
    background-image: url('../python2.png');
    background-repeat: no-repeat;
    background-size: cover;
  
      .project-name {
        display: block;
        text-align: center;
        position: relative;
        top: 40%;
       
      }    
    }
    
    
    .back {
    z-index: 1;
    word-wrap: break-word;
    line-height: 1.6;
    @include transform(rotatey(-180deg));
      
      .description {
        // @include stripes($stripe-properties...);
        width: 100%;
        height: 100%;
        color: rgb(255, 255, 255);
        // @include hover-color(green);
              
        .photo {
          display: flex;
          justify-content:center;
          width: 90%;
          margin: 0px auto;
            
        }
      }
    }
  }
  

  /* SKILLS ************************************************* */

.inner{
  padding-top: 20px;
}

.skill-header{
  text-align: center;
  color: #fff;
  padding: 1rem;
  position: relative;
}

.skill-header:after{
  content: '';
  position: absolute;
  bottom: 1;
  left: 50%;
  transform: translateX(-50%);
  height: 4px;
  width: 100px;
  background-color: #2ecc71;
  border-radius: 2px;
}

.container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-gap: 1rem;
  padding: 1rem 80px;
  font-size: 1.2rem;
}

.skill-box {
  padding: 1rem;
  color: #ddd;
  cursor: pointer;
}

.skill-box:hover > .skill-title:after, .skill-box:hover > .skill-title:before {
  width: 35px;
}

.skill-box:hover .skill-img{
  // transform: scale(1.1);
  transform: translateY(-10px);
}

.skill-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  position: relative;
}

.skill-title:after{
  content: " ";
  position: absolute;
  bottom: 0;
  right: 50%;
  width: 0;
  height: 4px;
  border-radius: 2px 0 0 2px;
  background-color: #2ecc71;
  transition: .5s;
}
.skill-title:before{
  content: " ";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 4px;
  border-radius: 0 2px 2px 0;
  background-color: #2ecc71;
  transition: .5s;
}

.skill-img{
  width: 90px;
  height: 90px;
  position: relative;
  border-radius: 5px;
  // background-color: rgba(255, 255, 255, 0.125);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .5s;
}

.skill-icon {
  width: 80px;
  border-radius: 15px;
  box-shadow: 7px 5px  rgba(6, 6, 6, 0.399);
}

.skill-title h3{
  color: #fff;
  margin-top: 0.5rem;
}

@media screen and (max-width: 990px) {
  .container{
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem 50px;
  }
}
@media screen and (max-width: 650px) {
  .container{
    grid-template-columns: 1fr;
    
  }
}