* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth

  }

  // body {
  //   width: 100%;
  //   min-height: 100vh;
  //   // border: 5px dashed red
  // }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: #000;
  }
  
  a:visited {
    color: inherit;
  }
  
  button {
    padding: 6px 8px;
    margin: 0 20px 20px 0;
    cursor: pointer;
  }
  
  /* SITEWIDE *********************************************** */
  // .container {
  //   max-width: 1000px;
  //   margin: 0 auto;
  // }
  
  /* HEADER ************************************************* */
  .header {
    // border: 2px solid #aaa;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navList {
    display: flex;
  }
  
  .navLink {
    display: block;
    padding: 20px;
  }
  
  .navLink:hover {
    color: orange;
  }
  
 
  
  /* SIDEBAR ************************************************* */
  .sidebar {
    width: 240px;
    min-width: 300px;
    display: flex;
    // justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-top: 5px;
  }
  
  .sidebar-card {
    display: flex;
    padding: 20px;
    // border-bottom: 2px solid #aaa;
    cursor: pointer;
  }
  
  .sidebar-card:hover {
    background: #efefef;
    transform:scale(1.1);
  }

  .side {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  
  
  /* HOME *********************************************** */
 .home-img {
   width: 100%;
 }

 .home-fade {
   opacity: .6;
   width: 00px;
 }

 .home-background {
  background-image: url("/media/IMG_5545.JPG");
  background-size: cover;
  background-position: 60%;
  border: 2px solid #aaa;
  border-radius: 30px 100px 30px 100px;
  display: flex;
  // justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  height: 82vh;
  color: #fff;
  opacity: 0.87;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.static-txt {
  color: #fff;
  font-size: 40px;
  font-weight: 400;
}

.wrapper .dynamic-txt {
  // margin-top: 200px;
  margin-left: 15px;
  height: 90px;
  line-height: 90px;
  // background: rgb(28, 28, 28);
  overflow: hidden;
}

.dynamic-txt li {
  color: gold;
  text-align: center;
  list-style: none;
  font-size: 60px;
  font-weight: 500;
  position: relative;
  top: 0;
  animation: slide 6s steps(4) infinite;
}

@keyframes slide {
  100%{
    top: -360px;
}
}


.dynamic-txt li span{
  position: relative;
}

.dynamic-txt li span::after {
  content: " ";
  position: absolute;
  left: 0;
  height: 90px;
  width: 100%;
  // background:rgb(28, 28, 28);
  // border-left: 2px solid #fcf06d;
  animation: typing 3s steps(12) infinite;
}

@keyframes typing {
  100%{
    left: 100%;
    margin: 0 -35px 0 35px;
  }
}



   /* category INFO *********************************************** */

  .category-detail {
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.639), rgba(255, 255, 255, 0.2));
    // background-color:linear-gradient(to right bottom, rgb(118, 191, 193, 0.523), rgb(118, 191, 193, 0.2));
    border: 2px solid #aaa;
    border-radius: 30px 100px 30px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
  }
  
  .project {
    display: grid;
    grid-template: auto 1fr auto / auto 1fr auto;
  }

  .info {
    grid-column: 3/3;
    padding: 20px;
    text-align: center;
  }

  .info p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  .info2 {
    grid-column: 1/2;
    padding: 20px;
    text-align: center;
  }

  .info2 p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  .gallary {
    grid-column: 1/2;
    grid-row: 1/ 3;
  }
  .gallary2 {
    grid-column: 3/3;
    grid-row: 1/ 3;
  }
  
  .project-img {
    width: 700px;
    // max-width: 100%;
    padding: 20px;
    border-radius: 70px;
    cursor: pointer;
    // box-shadow: 1px 1px  rgba(6, 6, 6, 0.399);
  }

  .project-img:hover{
    transform: scale(1.05);
    opacity: 0.8;
  }

  
////////////////////// CONTACT ///////////////////////
.contact-img{
  width: 100px;
  border-radius: 200px;
  clip-path: circle();
  border: 1px solid #000;
  grid-column: 1/2;
  grid-row: 1/2;
}

.social-media {
  display: grid;
  grid-template: auto 1fr auto / auto 1fr auto;
  align-items: center;
  // background-color: rgba(255, 255, 255, 0.338);
  border-radius: 100px;
  margin: 1rem;
  padding-left: 3rem;
}

.contact-icons {
  grid-column:2/2;
  padding: 50px;
  display: flex;
  // flex-direction: column;
  // align-items: center;
}
.icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 22px;
  // text-decoration: underline;
}

.social-links {
  font-size: 30px;
  padding: 20px;
  color: #000;
  
}
.social-links:hover {
  transform:scale(1.5);
  color: rgb(255, 255, 255);
  padding: 20px;
}

//////////////// CONTACT FORM ///////////////
.contact-box {
  width: 500px;
  max-width: 100%;
  // background-color: rgba(255, 255, 255, 0.256);
  // box-shadow: 0 0 20px 0 #999;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  // position: absolute;
}

form {
  margin:  35px;
  text-align: center;
}

.input-field {
  background-color: #efefef45;
  max-width: 100%;
  width: 400px;
  height: 40px;
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid rgba(119, 119, 119, 0.18);
  border-radius: 14px;
  outline: none;
}
.input-field:hover {
  background-color: #fff;
  width: 400px;
  height: 40px;
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #777;
  border-radius: 14px;
  outline: none;
}

.textarea-field {
  height: 150px;
  padding-top: 10px;
}
.textarea-field:hover {
  height: 150px;
  padding-top: 10px;
}

.submit {
  border-radius: 20px;
  margin-top: 18px;
  padding: 10px;
  background-color: #47c35a5f;
  font-size: 12px;
  border: none;
  cursor: pointer;
  width: 100%;
}

.submit:hover {
  border-radius: 20px;
  margin-top: 18px;
  padding: 10px;
  background-color: #47c35a;
  font-size: 12px;
  border: none;
  cursor: pointer;
  width: 100%;
}

///////////// MEDIA QUERIES ****************
//DESKTOP
@media (min-width: 1031px) {
  .main-page {
    display: flex;
    // min-width: 100vh;
    margin: 0 auto;
  }

  .category-info {
    // border: 2px solid #aaa;
    flex-grow: 1;
    height: 90vh;
    overflow-y: auto;
    padding: 30px;
  }

  .vertical {
    writing-mode: vertical-lr;
    -ms-writing-mode: vertical-lr;
    transform: rotate(180deg);
    padding-bottom: 30px;
    font-size: 60px;
    // display: flex;
    // align-items: center;
    // justify-content: center;
}
.gallary h3 {
  display: none;
}
.gallary2 h3 {
  display: none;
}
}

//MOBILE
@media (max-width: 1030px) {
 
  .category-detail {
    margin: 30px;
  }

  .side{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .sidebar ul{
    display: flex;
    justify-content:space-between;
    flex-direction: row;
  }
  .sidebar-card {
    padding: 12px;
    border-bottom: 2px solid #aaa;
  }
  .page-title{
    display: none;
  }

  .vertical {
    padding-top: 10px;
  }
  .project {
    display: flex;
    flex-direction: column;
  }
  .info h3 {
    display: none;
  }
  .gallary h3 {
    text-align: center;
  }
  .info2 h3 {
    display: none;
  }
  .gallary2 h3 {
    text-align: center;
  }
  .project-img {
    padding-bottom: 0px;
    max-width: 100%;
  }
  .info {
    padding-bottom: 50px;
  }
  .info2 {
    padding-bottom: 50px;
  }
  .contact-box {
    width: 500px;
  }

  .social-media {
    display:flex;
    flex-direction: column;
    padding-left:0;
  }

  .contact-icons {
    padding-bottom: 0px;
  }

  .contact-img{
    width: 100px;
    
  }

  .social-links {
    font-size: 30px;
    padding: 10px;
    
  }
 
}